/* Header container */
header 
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 60px;
  border-bottom: 2px solid #190727; /* line */
}
/* Title styling */
.title-link 
{
  text-decoration: none;
}
.title-link h1 
{
  color: white;
  font-size: 25px;
  margin: 0px;
  font-weight: 400;
  text-decoration: none;
}

/* Navigation container */
nav 
{
  display: flex;
  gap: 10px;
}
/* All nav links */
nav a 
{
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 8px 14px;
  border-radius: 5px;
}
/* Here button */
.here-btn
{
  background-color: #9810fa; /* purple background */
}
/* Hover effect for all links */
nav a:hover 
{
  background-color: #64129f; /* darker purple on hover */
}

/*Intro section*/
.intro 
{
  text-align: center;
  padding: 180px;
  background-image: url(galaxy-intro.jpg);
  background-size: cover;
}
.intro h2
{ 
  font-size: 60px;
}
.intro p
{
  font-size: 24px;
}
/* Button */
button
{
   border-radius: 5px;
   height: 40px;
   font-size: 16px;
   width: 120px;
   cursor: pointer;
}
.container
{
  display: flex;
  justify-content: space-between;
  padding: 40px;
  box-sizing: border-box;
}
.container div
{ 
  flex: 1;
  text-align: left;
  padding: 20px;
  min-height: 300px;
  font-size: 20px;
  line-height: 1.6;
  padding: 60px;
}
footer 
{
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  border-top: 2px solid #190727;  /* line */
}

/*Content page styles*/
.celestial
{
  text-align: center;
  padding: 60px;
}
.celestial h2
{
  font-size: 20px;
  margin-bottom: 20px;
}
.celestial p
{
  font-size: 20px;
  line-height: 1.6;
}


/* Table */
.planets 
{
  border: 1px solid #64129f;
  border-radius: 10px;
  padding: 20px;
  margin: 60px auto;
  background-color: #0c0014;
  max-width: 900px;
}

.planets h3 
{
  color: #ffffff;
  text-align: left;
  margin-bottom: 5px;
}

.planets p 
{
  color: #9b9da8;
  text-align: left;
  margin-bottom: 20px;
}

.planets table 
{
  width: 100%;
  border-collapse: collapse;
  margin: 0;
}

.planets th, td 
{
  padding: 12px;
  font-size: 16px;
  color: #9b9da8;
  text-align: left;
  border-bottom: 2px solid #190c23;
}





/* List */
.facts
{
  text-align: center;
  padding: 60px;
}
ul
{
  text-align: left;
  display: inline-block;
  font-size: 18px;
  line-height: 1.6;
  margin: 20px 20px;
  color:#fffeff;
  border: solid #190c23;
  border-radius: 10px;
  padding: 20px;
  background-color: #0c0014;
}
.video-content
{
  text-align: center;
  padding: 20px;     
}
/* Contact */
.form
{
  text-align: center;
  padding: 60px;
}
form
{
  display: inline-block;
  text-align: left;
  font-size: 18px;
  line-height: 1.6;
  margin: 20px 20px;
  color:#fffeff;
  border: solid #190c23;
  border-radius: 10px;
  padding: 20px;
  background-color: #0c0014;
  flex-wrap: wrap;
}
.form h3
{
  color:#ffffff
}
.title-content
{
  text-align: center;
  padding: 10px;     
}
.contact-info
{
  display: inline-block;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin: 20px 20px;
  border: solid #190c23;
  border-radius: 10px;
  padding: 20px;
  background-color: #0c0014;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Contact info section */

h4
{
  color:#ffffff
}
/* Change all the colors*/
body 
{
  background-color: #000000;
  margin: 0;
  padding: 0;

}
h1 
{
  color: #ffffff;
  padding-top: 0cm; ;

}
h2
{
  color: #cc6eff;
}
p 
{
  color:#9b9da8;

}
h3
{
  color: #51528c;
}
button
{
  background-color: #9810fa;
  color: #ffffff;
}
